page-timesheet {
    .profileFirst{
        padding:0

    }
    .hours{
        .text-input-md{
            text-align: right !important;
        }
    }
    .minute{
        .text-input-md{
            text-align: left !important;
        }
    }
    .voting .select-val{
        background-color: transparent !important;

    }


}
