page-display-events-new {
    .fontBold{
        margin-top: 0;
    }
    .emptyclass{
        padding: 0px 15px 0px 15px;
    }
    .more{
        position: relative !important;
        height: 16px;
        padding-bottom: 20px;
        padding-right: 10px;
        .span{
            float:right;
        }
    }
    .event-icons .check-icon{
        opacity: 0.5;
    }
    .event-icons .RemoveOpacity{
        opacity: 1 !important;

    }
    .info-item .reasonCard{
        padding-left: 10px

    }

    .profile{
        padding-top: 0% !important;
    }
    .cardBottom{
        margin-bottom: 0% !important;
        // margin-top: 4% !important
    }
    /* .header{
        background: none;
    } */
    .navbar-fixed-bottom li.events.active {
        margin-top: -3px;
    }
    .ScrolledUpCard{
        margin-top: 6% !important;
    }
    .navbar-fixed-top{
        /* left: unset !important; */
        // top: 10px;
        // padding-top: 10% !important;
    }
    .doubleArrow{
        margin-right: 15px !important;
        margin-top: 9px !important;
        .filtter_button.active{
            display: none;
        }
    }
    .doubleArrow.active{
        .filtter_button{
            display: none;
        }
        .filtter_button.active{
            display: inherit;
        }
    }
    .leftArrow{
        margin-left: 15px !important;
        margin-top: 10px !important;
        .hideFullCalender{
            display: none;
        }
        i{
            font-size: 20px;
            color: #15233C !important;
        }
    }
    .CalenderFullView{
        display: none;
        .mbsc-cal-month {
            text-align: right !important;
        }
        /* .mbsc-cal-scroll-c .mbsc-cal-slide-a .mbsc-cal-row:last-child{
            display: none;
        } */
    }
    .CalenderView{
        .mbsc-cal-hdr{
            margin-top: 12px;
        }
    }
    
    .eventOption.black.float-top {
        position: inherit;
        margin-top: -40px;
    }
    .eventOption.black.Remove-float-top {
        position: inherit;
        margin-top: 0px !important;
    }
    .eventOption.blue{
        background: #fdb913;
    }
    
    .eventOption.blue-alt{
        background:#004278;
    }
    .PastEventCard{
        margin-left: 2%;
        margin-right: 2%;
    }
    .SubTitleTop{
        margin-top: -1%;
    }
    .mapUpcoming{
        margin-top: -1% !important;
    }
    .eventOption.black.float-top {
        top: 60px;
    }

    .mbsc-material{ 
        .mbsc-cal-c .mbsc-cal .mbsc-cal-body .mbsc-cal-row .mbsc-selected .mbsc-cal-cell-txt {
            background: #0A4E93;
            color: #fff;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            opacity: 1.0;
        }
        // .mbsc-cal-today{
        //     border: 1px solid #43B7CC;
        //     border-radius: 100%;
        //     width: 55px;
        //     height: 55px;
        //     padding: 0;
        // }
        .mbsc-cal-day-date{
            font-size: 14px !important;
            font-weight: bold;
            color: map-get($colors, dark );
            margin: 0 auto;
            opacity: 0.3;
            line-height: 40px;
        }
        .mbsc-cal-year{
           text-align: left;
           padding-left: 10px;
           font-size: 16px;
        }
        .mbsc-cal-month {
            text-align: center;
            padding-left: 0;
            font-size: 16px;
            text-transform: uppercase;
        }
        .mbsc-fr-w{
            background: none !important;
        }
        .mbsc-cal-c{
            padding: 0;
        }
        .mbsc-cal-day-marked .mbsc-cal-day-date{
            color:#15233C;
            opacity: 1;
        }
        .mbsc-cal-mark{
            display:none;
        }
    }
    .mbsc-material.mbsc-form {
        background: none !important;
    }
    .mbsc-material .mbsc-cal-days>div {
        color: #8B8B8B;
    }
    .mbsc-cal-scroll-c {
        padding-bottom: 15px;
    }
    .mbsc-material .mbsc-cal .mbsc-cal-btn{
        display:none;
    }
    .mbsc-ic-material-keyboard-arrow-right::before{
        content: "\a" !important
    }
    .mbsc-ic-material-keyboard-arrow-left::before{
        content: "\a" !important
    }
    mbsc-form-group {
        margin: 0;
        margin-top: -5%;
    }
    .ClickableDiv{
        padding-top: 20px
    }
    
    .event-icons .check-icon.check-top-arrow:before{
        content: "\f0de";
        font-family:FontAwesome;
        position:absolute;
        right: 0;
        top: 30px;
        font-size: 50px;
        color: #404c62;
    }
    .event-icons .close-icon.close-top-arrow:before{
        content: "\f0de";
        font-family:FontAwesome;
        position:absolute;
        right: -2px;
        top: 30px;
        font-size: 50px;
        color: #404c62;
    }
/*----new modify----*/
    .sub-title_coustom{
        // color: #15233C;
        text-align: left !important;
        text-transform: uppercase;
        font-size: 12px!important;
        line-height: 18px;
        margin-bottom: 3px!important;
        font-family: "Helvetica", sans-serif;
    }
    .coustom_event_text{
        font-weight: 400;
        color: #15233C !important;
        font-size: 14px !important;
        text-align: left !important;
        font-family: "Helvetica", sans-serif;
    }
    .infoBox{
        display:flex;
        margin: 0;
        align-items: center !important;
    }
    .title-xs{
        text-align: left!important;
        font-size:12px;
        font-weight:bold;
        font-family: "Helvetica", sans-serif;
        margin-bottom: 0;
    }
    .text-item{
        font-weight: 400;
        // color: #15233C !important;
        font-size: 14px !important;
        text-align: left !important;
    }
    .add-item{
        font-weight: 400;
        font-size: 14px !important;
        line-height: 18px;
        text-align: left !important;
        font-family: "Helvetica", sans-serif;
    }
    .coustom_pull_left{
        text-align: left !important;
        text-transform: uppercase;
        font-size: 12px!important;
        // color: #fff!important;
        margin: 0 0 3px 0;
        font-family: "Helvetica", sans-serif;
    }
    .PastEventCard .coustom_pull_left.sportDivision{
        text-transform: none!important;
    }
    .megafone_png{
        margin-right: 10px;
        width: 28px;
        height: auto;
        filter: invert(1) !important;
    }
    .dark_underline{
        width: 100%;
        height: 2px;
        background: #15233C;
        margin-bottom: 20px;
        opacity: 0.2;
    }
    .heading_blue_section{
        font-size: 16px !important;
        font-weight: bold;
        color: #15233C !important;
        font-family: "Helvetica", sans-serif;
    }
    .heading_blue_section h1{
        font-size: 18px !important;
    }
    .filtter_button{
        margin-right: 12px;
        width: 20px;
        height: auto;
    }
    .filter_overlay{
        width: 96%;
        height: 100vh;
        background: rgba(21, 35, 60, 0.9);
        padding: 45px 20px;
        margin-bottom: 20px;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0px;
        z-index: 9999;
        overflow-y: scroll;
        pointer-events: auto; /*fix scroll lock on ios12.2*/
        .close-icon{
            margin-right: 8px;
        }
    }
    .font_light{
        font-weight: 300;
    }
    .fliter .itemList p{
        color: #ffffff;
        font-size: 14px;
        font-family: "Helvetica Neue", sans-serif;
        margin: 0;
        padding: 8px 0;
        width: 85%;
    }
    .fliter .itemList p.sub-title{
        font-size: 12px;
        font-weight: bold;
        font-family: "Helvetica", sans-serif;
        letter-spacing: 0.15em;
        display: inline;
        text-transform: uppercase;
    }
    .fliter .filterBack{
        margin-right: 5px;
        display: none;
    }
    .fliter_options{
        width: 100%;
        display: table;
        padding: 40px 0px 10px 0px;
        /* border-bottom: 1px solid #D7D7D7; */
    }
    .rounded_images{
        float: left;
    }
    .coustom_img_float{
        margin-left:10px; 
    }
    .next-group{
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
    //toggle switch
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DEDBDB;
        -webkit-transition: .4s;
        transition: .4s;
        padding:0;
    }
    .switch .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color:#fff;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .switch .slider.round:before {
        border-radius: 50%;
    }
    .switch .slider.round {
        border-radius: 34px;
    }
    .switch input:checked + .slider{
        background-color: #43acd7 !important;
    }
    .switch input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    .fliter_options .itemList {
        margin-bottom: 0;
    }
    // skeleton

    .skeleton{
        padding: 10px 15px 10px 15px;
    }
    .skeleton h3{
        width: 25%;
        height:19px;
        border-radius: 18px;
        margin-bottom:14px; 
    }
    .skeleton .infoList{
        width: 90%;
        height:19px;
        border-radius: 18px;
        margin-bottom:14px; 
        display: block; 
    }
    .skeleton h4{
        width: 25%;
        height:19px;
        border-radius: 18px;
        margin-top: 30px;
        margin-left: 15px; 
    }
    .skeleton .list-item{
        padding-left: 15px;
    }
    .skeleton .dark_underline{
        background: #96969638;
    }
    .skeleton .well{
        width: 100%;
        height: 183px;
        box-shadow: none;
    }
    
    .fadeShine {
        animation : shine 2s infinite linear;
        background: #DDDEE1;
        background: linear-gradient(to right, #ECEBEF 4%, #DDDEE1 25%,#ECEBEF 36%,);
        background-size: 1000px 100%;
     }

    .skeleton{
        animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }
     @keyframes fullView {
      100% {
        width: 100%;
      }
    }
    
     @keyframes shine {
      0% {
        background-position: -1000px 0;
      }
      100% {
        background-position: 1000px 0;
      }
    }

    .options_wrap{
        width: 100%;
        display: table;
        /* padding: 20px 25px; */
        padding-top: 40px;
    }
    
    .options{
        width: 100%;
        height:50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(222, 219, 219, 0.49);
        position: relative;
        p{
            font-size: 14px;
            color: rgb(255, 255, 255);
            font-weight: normal;
            font-family: "Helvetica Neue",sans-serif;
            margin: 0;
        }
        .sub-title{
            font-size: 12px;
            font-weight: bold;
            font-family: "Helvetica",sans-serif;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }
        .pull_right_arrow{
            position: absolute;
            right: 0;
        }
    }

     /*no internet message start*/
     .background_grey{
        width: 100%;
        height: 84vh;
        background: #EFF1F5;
    }
    .background_grey .off-wrap{
        width: 100%;
        height: auto;
        position: absolute;
        top: 30%;
        text-align: center;
        
    }
    .background_grey h3{
        color: #43ACD7;
        font-size: 17px !important;
        letter-spacing: 3px;
    }
    .background_grey p{
        color: #15233C;
        font-size: 14px;
        padding: 0px 50px;
        font-weight: bold;
        letter-spacing: 0.05em;
        font-family: "Halvetica",sans-serif;
    }
/*no internet message End*/
    .overlay{
        /* background: rgba(21, 35, 60, 0.8) !important; */
        position: absolute;
        top:0;
        bottom: 0;
        right:0;
        left: 0;
        z-index: 9999;
    }
    /* .overlay .profile{
        margin: 0!important;
        padding: 0!important;
    } */
    .overlay .scroll-content{
        /* margin: 0!important; */
        overflow: hidden;
    }

    /*Start try again button*/
   .background_grey .try-again{
        background-color: #EFF1F5!important;
        color: #43B7CC;
        border: 1px solid #43B7CC;
        height: 45px;
        margin-top: 25%;
        border-radius: 25px!important;
        font-size: 12px!important;
        font-weight: bold!important;
    }

    .background_grey .try-again.btn-sm-black{
        width: 86%!important;
    }
    /*End try again button*/

    .PastEventCard h4.add-item{
        color: #000000;
    }
    .fliter_options .itemList >div:first-child{
        width: 100%;
        height:50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .options_wrap .fliter_options{
        border-bottom: none;
        padding-top: 0;
    }
    .itemListInfo.subFilter {
        margin-left: 6%;
        height:50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        flex-direction: column;
    }
    .itemListInfo.subFilter > div:first-child {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        position: relative;
    }
    .subFilter.has-child {
        align-items: flex-start!important;
        height: auto!important;
        border-bottom: none!important;
    }
    .subFilter.has-child .subChildFilter{
        margin-left: 6%;
        width: 94%;
        height: 50px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
    }
    .subFilter.has-child .subChildFilter:first-child{
        // border-bottom: none!important;
    }
    .subFilter.has-child .subChildFilter p{
        border-bottom: none;
    }
    .itemListInfo .division.active:before{
        content:"";
        background: url('../assets/images/check.svg') no-repeat;
        background-position: right;
        background-size: 100%;
        width: 32px;
        height: 32px;
        display:inline-block;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .itemListInfo.subChildFilter .team.active:before{
        content:"";
        background: url('../assets/images/check.svg') no-repeat;
        background-position: right;
        background-size: 100%;
        width: 32px;
        height: 32px;
        display:inline-block;
        position: absolute;
        right: 5px;
        top: 3px;
    }
    .subChildFilter .team {
        width: 100%;
        position: relative;
    }
    .itemListInfo .division {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #fff;
    } 
    .itemList >div.active:before{
        content:"";
        background: url('../assets/images/check.svg') no-repeat;
        background-position: right;
        background-size: 100%;
        width: 32px;
        height: 32px;
        display:inline-block;
        position: absolute;
        right: 10px;
    }
    .overlay .well{
        box-shadow: none!important;
    }
    ion-header{
        max-height: 125px !important;
    }
    ion-header.showFullCalender{
        height: 54px !important;
    }
    .scroll-content.showFullCalender{
        margin-top: 60px !important;
    }
    .img-group .xs_img img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: -15px;
        border: 1px solid #ffffff;
    }
    .infoBox img.xs-img {
        width: auto;
        height: 35px;
    }
    .infoBox span.text-score {
        font-size: 24px;
        font-weight: bold;
        // margin: 8px 5px;
        margin: 0px 15px;
        color: white !important;
    }
    .CalenderFullView .mbsc-fr-popup .mbsc-cal-btn-w{
        width: auto!important;
    }

               // changing filter's text color according to theme start
               .itemList >div.active>p.sport_name{
                font-weight: bold;
                letter-spacing: 1px;
                  }
                
                  .itemList >div.active>p.divi{
                font-weight: bold;
                letter-spacing: 1px;
                  }
                 .itemList >div>
                p.color{
                    font-style: italic;
                    color: white
                  }
                
                  p>.selected{
                    font-style: italic;
                    float: right;
                    color: white
                  }
                
                  p>.suggestion{
                    font-style: italic;
                    float: left;
                    color: white
                  }
                
                  .itemListInfo .team.active>p.divi{
                font-weight: bold;
                letter-spacing: 1px;
                  }
                
                  .itemListInfo .division.active>p.divi{
                    letter-spacing: 1px;
                    font-weight: bold;
                  }
                
              
                  // changing filter's text color according to theme end

          div.pull-left>p{
            font-weight: bold;  
          }

          ion-content.has-refresher > .scroll-content {
            border-width: 0px;
        }
        .mbsc-cal.mbsc-cal-week-view.mbsc-cal-has-marks{
            margin-top: -1%;
            // margin-top: 5%;
        }
        .mbsc-fr-popup.mbsc-ltr{
            background: white;
        }
        p.sub-title2{
            width: 100% !important;
        }
}
page-tabs.send-back .tabbar{
    z-index: 0!important;
}