page-players-dashboard {
  // .navbar .top-bar{
  //   padding: 42px 10px;
  // }
  .select-card .card-title{
    line-height: 50px;
    text-transform: uppercase;
  }
  .player-item {
    padding-top: 17% !important;
  }
  .bg-header{
    padding: 0;
    margin-top: 0;
    padding-left: 20px;
  }
 /* .bg-header > .title{
     margin-top: 8% !important; 
  }*/
  .top-bar .prev-next{
    margin-right: 0 !important;
    margin-top: 6px !important;
  }
  .doubleArrow{
    /* .filtter_button{
      display: none;
    } */
    .filtter_button.active{
        display: none;
    }
  }
  .doubleArrow.active{
    .filtter_button{
        display: none;
    }
    .filtter_button.active{
        display: inherit;
    }
  }
  .suit-iconCard{
    padding: 0;
    line-height: normal;
    .suit-icon{
      width:25px;
      height:25px;
    }
  }
  .suit-iconCard.fixedRight {
    padding: 0;
    right: 5px!important;
    width: 26px;
    left: inherit;
    top: 47%;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }

  .medical-bottleCard{
    margin: 0 8px;
    line-height: 55px;
    float: right;
    .medical-bottle{
      height:25px;
    }
  }
  
  .card-title span {
    padding-top: 0;
    color: #8B8B8B;
    font-size: 12px;
    font-weight: normal;
    width: 100%;
  }
  .noPlayerCard{
    height: 70px !important;
    .card-title{
      padding-top: 20px !important;
      text-align: center !important;
    }
  }
  .player-search-image{
    padding: 10px;
    padding-bottom: 0;
  }
  .search-player input.text-input{
      margin-top:0;
  }
  .search-inner i.seh{
      margin-top: 9px;
  }

  /* Filter design start */
  .filtter_button{
    margin-right: 12px;
    width: 20px;
    height: auto;
  }
  .filter_overlay{
    width: 96%;
    height: 100vh;
    background: rgba(21, 35, 60, 0.9);
    padding: 45px 20px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0px;
    z-index: 9999;
    overflow-y: scroll;
  }
  .font_light{
    font-weight: 300;
  }
  .fliter .itemList p{
    color: #ffffff;
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 8px 0;
    width: 85%;
  }
  .fliter .itemList p.sub-title{
    font-size: 12px;
    font-weight: bold;
    font-family: "Helvetica", sans-serif;
    letter-spacing: 0.15em;
    display: inline;
    text-transform: uppercase;
  }
  .fliter .filterBack{
    margin-right: 5px;
    display: none;
  }
  .fliter_options{
    width: 100%;
    display: table;
    padding: 40px 0px 10px 0px;
    //border-bottom: 1px solid #D7D7D7; 
  }
  .rounded_images{
    float: left;
  }
  .coustom_img_float{
    margin-left:10px; 
  }
  .next-group{
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }
  //toggle switch

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDBDB;
    -webkit-transition: .4s;
    transition: .4s;
    padding:0;
  }
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:#fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch .slider.round:before {
    border-radius: 50%;
  }
  .switch .slider.round {
    border-radius: 34px;
  }
  .switch input:checked + .slider{
    background-color: #43acd7 !important;
  }
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .fliter_options .itemList {
    margin-bottom: 0;
  }
  .options_wrap{
    width: 100%;
    display: table;
    /* padding: 20px 25px; */
    padding-top: 40px;
  }    
  .options{
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(222, 219, 219, 0.49);
    position: relative;
    p{
        font-size: 14px;
        color: rgb(255, 255, 255);
        font-weight: normal;
        font-family: "Helvetica Neue",sans-serif;
        margin: 0;
    }
    .sub-title{
        font-size: 12px;
        font-weight: bold;
        font-family: "Helvetica",sans-serif;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
    .pull_right_arrow{
        position: absolute;
        right: 0;
    }
  }
  .overlay{
    /* background: rgba(21, 35, 60, 0.8) !important; */
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
    left: 0;
    z-index: 9999;
  }
  /* .overlay .profile{
    margin: 0!important;
    padding: 0!important;
  } */
  .overlay .scroll-content{
    /* margin: 0!important; */
    overflow: hidden;
  }
  .fliter_options .itemList >div:first-child{
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  .options_wrap .fliter_options{
    border-bottom: none;
    padding-top: 0;
  }
  .itemListInfo.subFilter {
    margin-left: 6%;
    height:50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    flex-direction: column;
  }
  .itemListInfo.subFilter > div:first-child {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    position: relative;
  }
  .subFilter.has-child {
    align-items: flex-start!important;
    height: auto!important;
    border-bottom: none!important;
  }
  .subFilter.has-child .subChildFilter{
    margin-left: 6%;
    width: 94%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  .subFilter.has-child .subChildFilter:first-child{
    // border-bottom: none!important;
  }
  .subFilter.has-child .subChildFilter p{
    border-bottom: none;
  }
  .itemListInfo .division.active:before{
    content:"";
    background: url('../assets/images/check.svg') no-repeat;
    background-position: right;
    background-size: 100%;
    width: 32px;
    height: 32px;
    display:inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .itemListInfo.subChildFilter .team.active:before{
    content:"";
    background: url('../assets/images/check.svg') no-repeat;
    background-position: right;
    background-size: 100%;
    width: 32px;
    height: 32px;
    display:inline-block;
    position: absolute;
    right: 5px;
    top: 3px;
  }
  .subChildFilter .team {
    width: 100%;
    position: relative;
  } 
  .itemListInfo .division {
    width: 100%;
    position: relative;
  } 
  .itemList >div.active:before{
    content:"";
    background: url('../assets/images/check.svg') no-repeat;
    background-position: right;
    background-size: 100%;
    width: 32px;
    height: 32px;
    display:inline-block;
    position: absolute;
    right: 10px;
  }
  .overlay .well{
    box-shadow: none!important;

  }
  .hideTeamChatsLink{
    .itemList{
        width: 100%;
        .pull-left{
            width: 75%;
        }
    }
  }
  /* Filter design end */

  //  skeleton design
  .skeleton{
    padding-top:21%;
  }
  .skeleton .search-bar{
    width:100%;
    border-radius: 20px;
    height: 40px;
    margin: 5px auto 20px auto;
  }
  .skeleton .title{
    width: 100px;
    border-radius: 20px;
    height: 12px;
    margin: 12px 10px;
  }
  .skeleton .select-card.well{
    color: #DDDEE1 !important;
    -moz-shadow: 0 0 6px 2px #ccc!important;
    -webkit-box-shadow: 0 0 6px 2px #ccc!important;
    box-shadow: 0 0 6px 2px #ccc !important;
  }
  .skeleton .img-text{
    background-color: #E6E6E6!important;
  }
  .skeleton .event-card .well.select-card:last-child{
    margin-bottom: 10px !important;
  }
  .fadeShine {
    animation : shine 2s infinite linear;
    background: #DDDEE1;
    background: linear-gradient(to right, #ECEBEF 4%, #DDDEE1 25%,#ECEBEF 36%,);
    background-size: 1000px 100%;
  }
  .skeleton {
    animation: fullView 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  @keyframes fullView {
  100% {
    width: 100%;
  }
  }
  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  @keyframes shine {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
  }

  /*no internet message start*/
  .background_grey{
    width: 100%;
    height: 84vh;
    background: #EFF1F5;
  }
  .background_grey .off-wrap{
    width: 100%;
    height: auto;
    position: absolute;
    top: 30%;
    text-align: center;        
  }
  .background_grey h3{
    color: #43ACD7;
    font-size: 17px !important;
    letter-spacing: 3px;
  }
  .background_grey p{
    color: #15233C;
    font-size: 14px;
    padding: 0px 50px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-family: "Halvetica",sans-serif;
  }
  /*no internet message End*/

  /*Start try again button*/
  .background_grey .try-again{
    background-color: #EFF1F5!important;
    color: #43B7CC;
    border: 1px solid #43B7CC;
    height: 45px;
    margin-top: 25%;
    border-radius: 25px!important;
    font-size: 12px!important;
    font-weight: bold!important;
  }
  .background_grey .try-again.btn-sm-black{
    width: 86%!important;
  }
  /*End try again button*/


     // changing filter's text color according to theme start
     .itemList >div.active>p.sport_name{
      font-weight: bold;
      letter-spacing: 1px;
        }
      
        .itemList >div.active>p.divi{
      font-weight: bold;
      letter-spacing: 1px;
        }
       .itemList >div>
      p.color{
          font-style: italic;
          color: white
        }
      
        p>.selected{
          font-style: italic;
          float: right;
          color: white
        }
      
        p>.suggestion{
          font-style: italic;
          float: left;
          color: white
        }
      
        .itemListInfo .team.active>p.divi{
      font-weight: bold;
      letter-spacing: 1px;
        }
      
        .itemListInfo .division.active>p.divi{
          letter-spacing: 1px;
          font-weight: bold;
        }
      
    
        // changing filter's text color according to theme end
        div.pull-left>p{
          font-weight: bold;  
        }
        p.sub-title2{
          width: 100% !important;
        }
}
