<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>474395122458-a3gnpcjkae4i05gagco9a68gg3k2long.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFTl3_iVODDhZ9SzkfKz1YGSOzpRrPa08</string>
	<key>GCM_SENDER_ID</key>
	<string>474395122458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gojaro.westmacapp</string>
	<key>PROJECT_ID</key>
	<string>sswa-jaro</string>
	<key>STORAGE_BUCKET</key>
	<string>sswa-jaro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474395122458:ios:d1780d221ab458a6c92aa3</string>
	<key>DATABASE_URL</key>
	<string>https://sswa-jaro.firebaseio.com</string>
</dict>
</plist>