<!--
  Generated template for the NewDiscussionCreatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <nav class="navbar"> 
        <div class="top-bar clearfix">
            <div class="pull-left">
                <div class="backArrow info-item" (click)="goBack()">NEW DISCUSSION</div>
            </div>
            <!-- <div class="prev-next pull-right chat-search-prev-next" (click)="goToChooseTeamsPage()">
                <a href="javascript:void(0);" class="next"></a>
            </div> -->
            <div class="prev-next pull-right doubleArrow" (click)="showFilter()">
                <a href="javascript:void(0);"><img src="assets/images/event-filter-icon.svg" class="filtter_button"></a>
                <a href="javascript:void(0);"><img src="assets/images/event-filter-icon-active.svg" class="filtter_button active"></a>
            </div>
        </div>
    </nav>
</ion-header>


<ion-content>
  <div class="bg-gray event">
      <section class="main">
          <form action="" class="user-form profile setting-first">
              <section class="profileFirst heightAuto player-search-swipe-down">
                  <div class="event-card welfare bg-gray">
                      
                        <div class="parent_group">
                    
                            <div class="group_div" *ngFor="let discussionDetails of newDiscussionDetails;" (click)="deletedPersonName(discussionDetails.id,gruopsIds,personIds,$event)">
                                <div class="rounded_img">
                                    <img *ngIf="discussionDetails.image == '' && discussionDetails.imageFrom == 'group'" src="assets/images/group-name.svg" alt="ab" class="img-circle">
                                    <img *ngIf="discussionDetails.image != ''" src="{{global.PROFILEIMAGEURL + discussionDetails.image}}" alt="" class="img-circle" onerror="this.onerror=null;this.src='assets/images/test-user.svg';">
                                    <img *ngIf="discussionDetails.image == '' && discussionDetails.imageFrom != 'group'" src="assets/images/test-user.svg" alt="ab" class="img-circle">
                                    <!--<img src="assets/images/group-name.png" alt="ab">-->
                                    <p>{{discussionDetails.discussionName}}</p>
                                    <div class="x_button">
                                        <span class="closebtn"></span>
                                    </div>
                                </div>
                            </div>
                    
                        </div> 

                      <div class="row player-search-image">
                          <div class="col-xs-12 search-player search-inner margin_search">
                              <div class="search-icon"><i class="seh material-icons">search</i></div>
                              <input type="text" name="search" id="search" class="form-control text-input" placeholder="Search" (keyup)="search($event)" (click)="clearsearch()" (focus)="inputFocus()" (blur)="inputBlur()">
                              <!--<div class="microph-image" (click)="listen()"><img src="assets/images/microphone-voice.png" class="microphone"/></div>-->
                          </div>
                      </div>
                      <!--Search start-->
                      <!--<div class="row" [ngStyle]="{'display': searchShow}">
                            <div class=" col-xs-5 p-0 chat-new-message">
                                <h5>GROUP</h5>
                            </div>
                        </div>-->

                       <!-- <div class="well select-card" *ngFor="let search of searchData" data-id="{{search.GROUP_ID}}" (click)="addGroupName(this.search,$event)" [ngStyle]="{'display': searchShow}">
                            <div class="row">
                                <div class="card-img col-xs-2 p-0">
                                    <span class="">
                                        <img src="assets/images/group-name.svg" alt="" class="img-circle">
                                  </span>
                                </div>
                                <div class="card-title col-xs-10 p-0 chat-home">
                                    <div class="row">
                                        <div class="col-xs-12 p-0">
                                               <span>{{search.GROUP_NAME}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                      <!--search end-->
                      <!--<div class="well select-card" *ngFor="let chatGroup of chatGroups;" data-id="{{chatGroup.group_id}}" [ngStyle]="{'display': searchHide}"  (click)="addGroupName(this.chatGroup,$event)">
                          <div class="row">
                              <div class="card-img col-xs-2 p-0">
                                  <span class="">
                                      <img src="assets/images/group-name.svg" alt="" class="img-circle">
                                </span>
                              </div>
                              <div class="card-title col-xs-10 p-0 chat-home">
                                  <div class="row">
                                      <div class="col-xs-12 p-0">
                                            <span>{{chatGroup.group_name}}</span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>-->

                      <ion-list no-lines class="well select-card" *ngFor="let chat of chats" data-id="{{chat.char_Person_id}}" (click)="addPersonName(this.chat,$event)" [class.divDisable]="personIds.indexOf(chat.char_Person_id) > -1">
                          <ion-item-sliding>
                                <ion-item>
                                  <div class="row" ion-item-sliding>
                                      <div class="card-img col-xs-2 p-0">
                                          <span class="" [class.active]="personIds.indexOf(chat.char_Person_id) > -1">
                                            <img *ngIf="chat.photoPath != ''; else noImage" src="{{global.PROFILEIMAGEURL + chat.photoPath}}" alt="" class="img-circle" onerror="this.onerror=null;this.src='assets/images/test-user.svg';">
                                            <ng-template #noImage>
                                                <div class="img-circle" *ngIf="chat.chat_person_name != ''"><span class="img-text">{{chat.chat_person_name[0] | uppercase}} {{chat.lastName[0] | uppercase}} </span></div>
                                                <div class="img-circle" *ngIf="chat.chat_person_name == ''"><span class="img-text"> N N </span></div>
                                            </ng-template>
                                          </span>
                                      </div>
                                      <div class="card-title col-xs-10 p-0 chat-home">
                                          <div class="row">
                                              <div class="col-xs-12 p-0">
                                                    <span *ngIf="chat.chat_person_name != ''">{{chat.chat_person_name}} <span *ngIf="chat.role">{{chat.role}}</span><p *ngIf="chat.childNames">{{chat.childNames}}</p></span>
                                                    <span *ngIf="chat.chat_person_name == ''">No Name</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </ion-item>
                          </ion-item-sliding >
                      </ion-list>
                      <div class="well select-card" *ngIf="chats.length == 0">
                            <div class="row">
                                <div class="col-xs-12 p-0 chat-home">
                                    <div class="text-center noList">
                                        <span>No List Found</span>
                                    </div>
                                </div>
                            </div>
                      </div>
                  </div>
              </section>
          </form>
      </section>
  </div>
  
</ion-content>
<div class="arrow" (click)="goToDiscussionSavePage(newDiscussionDetails,gruopsIds,personIds)"><ion-icon name="arrow-round-forward"></ion-icon></div>

<div class="filter_overlay" style="display: none;" (swipe)="onSwipe($event)">
    <div class="fliter">
        <div class="itemList clearfix">
            <div class="pull-left">
                <img class="filterBack" src="assets/images/arrow-white.svg" (click)="filterBack()" />
                <p class="sub-title">FILTER</p>
            </div>
            <div class="pull-right close-icon" (click)="closeFilter()">
                <img src="assets/images/close-icon.svg" alt="">
            </div>
        </div>
        <!-- <div class="fliter_options" *ngIf="(FunctionAccess && FunctionAccess.user_adminLevel != 1) || (PersonData && PersonData.ISPARENT)">
            <div class="itemList clearfix" *ngFor="let key of sportsList">
                <div class="font_light" class="sports" [class.active]="sportIds.indexOf(key.SPORTID.toString()) > -1" id="{{key.SPORTID}}"><p>{{key.SPORTNAME}}</p></div>
                <div class="itemListInfo clearfix subFilter has-child" *ngFor="let division of key.DIVISIONLIST">
                    <div class="font_light" class="division" [class.active]="(divisionIds.indexOf(division.DIVISIONID.toString()) > -1 || divisionIds.indexOf('0') > -1)" id="{{division.DIVISIONID}}"><p>{{division.DIVISIONNAME}}</p></div>
                    <div class="itemListInfo clearfix subChildFilter" *ngFor="let team of division.TEAMLIST">
                        <div class="font_light" class="team" [class.active]="(selectedTeams.indexOf(team.CLUBDIVISIONID.toString()) > -1)" id="{{team.CLUBDIVISIONID}}"><p>{{team.TEAMNAME}}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fliter_options" *ngIf="PersonData && PersonData.ISPARENT">
            <div class="itemList clearfix" *ngFor="let key of PersonData.siblings">
                <div class="font_light" class="childId" id="{{key.person_id}}" [class.active]="childIds.indexOf(key.person_id.toString()) > -1"><p>{{key.first_name}} {{key.last_name}}</p></div>
            </div>
        </div> -->

        <div class="options_wrap">          
            <!-- <div class="options teamLink">
                <p>My Teams</p>
                <img src="assets/images/right arrow.svg" class="pull_right_arrow">
            </div> -->               
            <div class="options sportLink">
                <p>My teams</p>
                <img src="assets/images/right arrow.svg" class="pull_right_arrow">
            </div>  
            <div class="options roleLink" *ngIf="FunctionAccess && FunctionAccess.user_adminLevel != 4">
                <p>Roles</p>
                <img src="assets/images/right arrow.svg" class="pull_right_arrow">
            </div>                  
            <!-- <div class="options divisionLink">
              <p>Division</p>
              <img src="assets/images/right arrow.svg" class="pull_right_arrow">
            </div> -->                 
            <!-- <div class="options teamLink">
              <p>Teams</p>
              <img src="assets/images/right arrow.svg" class="pull_right_arrow">
            </div> -->

            <div class="fliter_options sportFilter" style="display: none;">
                <!-- <div class="itemList clearfix">
                    <div class="pull-left"><p>Show all my sports</p></div>
                    <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="sports" name="sports" value="0" [checked]="sportIds.indexOf('0') > -1">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="itemList clearfix" *ngFor="let key of sportsList">
                    <div class="font_light" class="sports" [class.active]="sportIds.indexOf(key.SPORTID?.toString()) > -1" id="{{key.SPORTID}}"><p>{{key.SPORTNAME}}</p></div>
                    <!-- <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="sports" name="sports" value="{{key.SPORTID}}" [checked]="sportIds.indexOf(key.SPORTID.toString()) > -1">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div> -->
                    <div class="itemListInfo clearfix subFilter has-child" *ngFor="let division of key.DIVISIONLIST">
                        <div class="font_light" class="division" [class.active]="(divisionIds.indexOf(division.DIVISIONID.toString()) > -1 || divisionIds.indexOf('0') > -1)" id="{{division.DIVISIONID}}"><p>{{division.DIVISIONNAME}}</p></div>
                        <div class="itemListInfo clearfix subChildFilter" *ngFor="let team of division.TEAMLIST">
                            <div class="font_light" class="team" [class.active]="(selectedTeams.indexOf(team.CLUBDIVISIONID?.toString()) > -1)" id="{{team.CLUBDIVISIONID}}"><p>{{team.TEAMNAME}}</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="fliter_options divisionFilter" style="display: none;">
                <div class="itemList clearfix">
                    <div class="pull-left"><p>Show all my division</p></div>
                    <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="division" name="division" value="0" [checked]="divisionIds.indexOf('0') > -1">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="itemList clearfix" *ngFor="let key of divisionList">
                    <div class="pull-left font_light"><p>{{key.DIVISIONNAME}}</p></div>
                    <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="division" name="division" value="{{key.DIVISIONID}}" [checked]="(divisionIds.indexOf(key.DIVISIONID.toString()) > -1 || divisionIds.indexOf('0') > -1)">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="fliter_options teamFilter" style="display: none;">
                <!-- <div class="itemList clearfix">
                    <div class="pull-left"><p>Show all my teams</p></div>
                    <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="team" name="team" value="0" [checked]="selectedTeams.indexOf('0') > -1">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div> -->
                <div class="itemList clearfix" *ngFor="let key of teamList">
                    <div class="font_light" class="team" [class.active]="selectedTeams.indexOf(key.CLUBDIVISIONID?.toString()) > -1" id="{{key.CLUBDIVISIONID}}"><p>{{key.TEAMNAME}}</p></div>
                    <!-- <div class="pull-right">
                        <div class="toggle">
                            <label class="switch">
                            <input type="checkbox" class="team" name="team" value="{{key.CLUBDIVISIONID}}" [checked]="selectedTeams.indexOf(key.CLUBDIVISIONID.toString()) > -1">
                            <span class="slider round"></span>
                            </label>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="fliter_options roleFilter" style="display: none;">
                <div class="itemList clearfix">
                    <div class="font_light" class="role" [class.active]="roles.indexOf('1') > -1" id="1"><p>Admins</p></div>
                </div>
                <div class="itemList clearfix" *ngIf="loggedInUserData && !loggedInUserData.ISPARENT">
                    <div class="font_light" class="role" [class.active]="roles.indexOf('2') > -1" id="2"><p>Players</p></div>
                </div>
                <div class="itemList clearfix">
                    <div class="font_light" class="role" [class.active]="roles.indexOf('3') > -1" id="3"><p>Parents</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
