<!--
  Generated template for the SeverityDetailsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <!-- <ion-title> -->
        <!-- <button class="BackButton"(click)="backArrow()"><img src="assets/images/arrow-black.svg"></button>
      Medical Condition -->
    <div class="top-bar clearfix">
      <div class="pull-left">

        <div>
            <button class="BackButton"(click)="backArrow()"><img src="assets/images/arrow-black.svg"></button>
            MEDICAL CONDITION
          </div>
      </div>
    </div>
  <!-- </ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content class="bg-black" >
  <div class="player-section">
      <div class="thumbImage image-sm">
        <img *ngIf="AttendyDetails.photopath; else noImage" src={{global.PROFILEIMAGEURL}}{{AttendyDetails.photopath}} alt="" class="img-circle" onerror="this.onerror=null;this.src='assets/images/test-user.svg';">
        <ng-template #noImage>
            <div class="img-circle">
              <span class="img-text">
                {{AttendyDetails.first_name[0]}} {{AttendyDetails.last_name[0]}} 
              </span>
            </div>
        </ng-template>
      </div>
      <div class="player-info mt-20">
        <h4 class="info-item">
          {{AttendyDetails.first_name}} {{AttendyDetails.last_name}}
        </h4>
        <p *ngIf="AttendyDetails.uniform_id != null && AttendyDetails.uniform_id.toString().length > 0">
          #{{AttendyDetails.uniform_id}}
        </p>
      </div>
    </div>
    <div class="group-item" *ngIf="DisplayDetails.length>0 && !AttendyDetails.operooenabled">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">MEDICAL CONDITION</div>
      </div>
      <div padding *ngFor="let key of DisplayDetails">
        <ion-label class="problemCard">{{key.medicalProblem}}</ion-label>
        
        <ion-label class="detailCard" *ngIf="key.details">
          <br>{{key.details}}
        </ion-label>
        
        <ion-label class="severityCard" *ngIf="key.severity">
          <br>{{key.severity}}
        </ion-label>
        <br>
      </div>
    </div>
      
    <div class="group-item" *ngIf="MedicineInformation.length>0 && !AttendyDetails.operooenabled" style="margin-bottom: 60px;">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">MEDICINE INFORMATION</div>
      </div>
      <div *ngFor="let key of MedicineInformation">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    {{key.MedicineName}}
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0 checkArrow-group" >
                  <div class="col-xs-2 p-0 checkbox-col" >
                    <div class="defaultCheckbox1" [class.PresentCheckbox1]="key.MedicineFlag==1" [class.AbsentCheckbox1]="key.MedicineFlag==0">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>
    </div>
    <div class="group-item" *ngIf="!AttendyDetails.operooenabled">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">MEDICAL ACTION PLAN</div>
      </div>
      <div class="event-card borrow">
        <div class="well select-card plan-card player-medical2">
            <div class="row">
              <div class="col-xs-12">
                <textarea *ngIf="AttendyDetails.medical_action_plan; else noMedicalActionPlan" class="sub-title player-med-title" [class.contentEditable]="editable">{{AttendyDetails.medical_action_plan}}</textarea>
                <ng-template #noMedicalActionPlan><textarea class="sub-title player-med-title" [class.contentEditable]="editable" > No medical action plan recorded</textarea></ng-template>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="group-item" *ngIf="AttendyDetails.operooenabled" style="margin-bottom: 60px;">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">MEDICAL PROFILE</div>
      </div>
      <div class="med-prof=item">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    Blood Group
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0" >
                  <span style="float: left">
                    {{AttendyDetails.operoodata.bloodGroup | bloodGroup}}
                </span>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>
      <div class="med-prof=item">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    Wear Glasses
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0 checkArrow-group" >
                  <div class="col-xs-2 p-0 checkbox-col" >
                    <div class="defaultCheckbox1" [class.PresentCheckbox1]="AttendyDetails.operoodata.wearsGlasses==1" [class.AbsentCheckbox1]="AttendyDetails.operoodata.wearsGlasses!=1">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>
      <div class="med-prof=item">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    Wear Contacts
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0 checkArrow-group" >
                  <div class="col-xs-2 p-0 checkbox-col" >
                    <div class="defaultCheckbox1" [class.PresentCheckbox1]="AttendyDetails.operoodata.WearsContacts==1" [class.AbsentCheckbox1]="AttendyDetails.operoodata.WearsContacts!=1">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>

      <div class="med-prof=item">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    Swimming Ability
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0" >
                  <span style="float: left">
                    {{AttendyDetails.operoodata.swimmingAbility | swimmingFilter}}
                </span>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>

      <div class="med-prof=item">
        <ion-label class="MedicineCard" >
          <div class="col-xs-12 MedicineCard">
              <div class="col-xs-7 medicineNameCard">
                <span style="float: left">
                    Paracetamol Allowed
                </span>
                  
              </div>
                <div class="col-xs-2 pr-0 checkArrow-group" >
                  <div class="col-xs-2 p-0 checkbox-col" >
                    <div class="defaultCheckbox1" [class.PresentCheckbox1]="AttendyDetails.operoodata.paracetamolAllowed==1" [class.AbsentCheckbox1]="AttendyDetails.operoodata.paracetamolAllowed!=1">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>
          </div>
          
        </ion-label>
        <br>
      </div>
    </div>

    <div class="group-item" *ngIf="AttendyDetails.operooenabled" style="margin-bottom: 60px;">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">SAFETY ALERTS</div>
      </div>   

      <div class="contactCard" *ngFor="let key of AttendyDetails.operoodata.safetyAlerts">
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Condition Name
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.condition}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Risk Level
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.riskLevel}}
              </span>
              </div>
          </div>
          
        </div>
        
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Description
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.description}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Medication Required
                </span>
                  
              </div>             
              <div class="col-xs-2 pr-0 checkArrow-group" >
                <div class="col-xs-2 p-0 checkbox-col" >
                  <div class="defaultCheckbox1" [class.PresentCheckbox1]="key.medicationRequired==1" [class.AbsentCheckbox1]="key.medicationRequired!=1">
                  </div>
                  <div class="checkbox"></div>
                </div>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Medication Details
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.medication}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Attachement
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span  style="color: #18674c"(click)="openAttachement(key.attachmentUrl)" *ngIf="key.attachmentUrl.length">View attchement</span>
              </div>
          </div>
          
        </div>
      </div>
      
     
    </div>

    <div class="group-item" *ngIf="AttendyDetails.operooenabled" style="margin-bottom: 60px;">
      <div class="bg-info clearfix">
          <div class="sm-title pull-left">EMERGENCY CONTACT</div>
      </div>
      <div class="contactCard" *ngFor="let key of AttendyDetails.operoodata.emergencyContacts">
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Name
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.name}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Mobile Phone
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.mobilePhone}}
              </span>
              </div>
          </div>
          
        </div>
        
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Home Phone
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.homePhone}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Work Phone
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.workPhone}}
              </span>
              </div>
          </div>
          
        </div>
        <div class="MedicineCard " >
          <div class="col-xs-12 MedicineCard blue-font">
              <div class="col-xs-5">
                <span style="float: left">
                    Email
                </span>
                  
              </div>
              <div class="col-xs-7 pr-0" >
                <span >
                  {{key.email}}
              </span>
              </div>
          </div>
          
        </div>
      </div>
    </div>
      
  
  
</ion-content>
