page-choose-team {
    .leftWrap{
		float: left;
		width: 80%;
	}
	.rightWrap{
		display: none;
		float: left;
		width: 20%;
	}
	.rightWrap.active{
		display: block;
	}
	.rightWrap.active::after {
		clear: both !important;
	}

}
