<ion-content class="bg-black" (click)="setTimePad()">
  <section class="main mt-20">
      <div class="top-bar" (click)="backArrow()">
          <div class="col-xs-3">
              <div class="backArrow inverse"></div>
          </div>
      </div>
    
    
        <form action="" class="user-form profile bg-black" style=" padding-top: 5%!important;">
          <section class="profileFirst heightAuto" >
            <div *ngFor="let detail of arrDetail">
              <div class="form-group">
                <div class="date_time text-blue text-center">
                  <span class="dateOption">{{detail.week}} {{date}} {{detail.months | titlecase}}</span>
                  <span class="glyphicon glyphicon-time" *ngIf="arrDetail"></span>
                  <span class="timeOption">
                    <span>{{detail.time_started}}</span>
                  </span>
                </div>
                
                <div class="homeAway-title text-center text-blue" *ngIf="detail.event_type_id==1">{{homeAwayText}}</div>
              </div>
              <h4 class="info-item text-center inverseText" *ngIf="detail.event_type_id==1">{{detail.hometeamname}} vs {{detail.awayteamname}}</h4>
              <h4 class="info-item text-center inverseText">{{detail.name}}</h4>
            </div>
            <p class="status-info mt-20" *ngIf="UpcomingSingleEvent && UpcomingSingleEvent.TSStatus" [class.pending]="UpcomingSingleEvent.TSStatus=='Pending' || !UpcomingSingleEvent.TSStatus" 
                [class.approved]="UpcomingSingleEvent.TSStatus=='Approved'" [class.rejected]="UpcomingSingleEvent.TSStatus=='Rejected'">
              <span>{{UpcomingSingleEvent.TSStatus?UpcomingSingleEvent.TSStatus:'Pending'}}</span> 
            </p>
            <div class="bookmark-line mt-20">&nbsp;</div>
            <!-- <p class="Status-Text" *ngIf="UpcomingSingleEvent && UpcomingSingleEvent.TSStatus">{{UpcomingSingleEvent.TSStatus}}</p> -->
          <h5 class="section-title">HOURS RECORDED</h5>
            <div class="voting score clearfix">
                <div >
                    <div class="select-val">
                        <ion-item>
                          <ion-datetime class="hours" displayFormat="HH:mm" minuteValues="0,15,30,45" [(ngModel)]="Time" [ngModelOptions]="{standalone: true}" [disabled]="isDisabled"></ion-datetime>
                        </ion-item>
                    </div>
                </div>
            </div>
            <div class="bookmark-line mt-30"> <i class="glyphicon glyphicon-bookmark" style="background: #fff;width: 30px;height: 30px;border-radius: 15px;padding-top: 10px;"></i></div>
            <p class="Status-Text" *ngIf="comment && isDisabled">{{comment}}</p>
            <p class="Status-Text" *ngIf="reviewerComment && isDisabled">{{reviewerComment}}</p>
            
            <div class="background group-msg" *ngIf="!isDisabled">
              <div class="modal-content msg-send radius-20 backgroundColor">
                  <h4 class="modal-title text-center">COMMENT</h4>
                  <div class="modal-body backgroundColor">
                      <textarea class="form-control msg-box" name="" id="" cols="30" rows="7" [(ngModel)]="comment" [ngModelOptions]="{standalone: true}" [readonly]="isSaved">{{comment}}</textarea>
                  </div>
              </div>
            </div>
            <div class="btn-section mb-30 mt-30" *ngIf="!isDisabled">
              <button type="submit" class="btn btn-save btn-sm-black radius-10" *ngIf="!hideButton" (click)="Save()">SAVE AND SUBMIT TIMESHEET</button>
            </div>                
          </section>
        </form>
      </section>
</ion-content>

