page-map-tracker {
    .bg-map{
        background: url(../assets/images/transport/bg-map.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        display: inline-block;
    }
    ion-content {
        contain: size style;
      }
    ion-fab .btn-img{
        display:inline;
        border: 2px solid #f4f4f4;
        background-color: #dedede;
    }
    .btn-img .button-inner img{
        position:absolute;
    }
    #map {
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
        background: #fff;
      }
    // .unselectedCard{
    //     filter: blur(1px);
    // }
}
