<ion-header class="header-md">
  <ion-navbar class="main">
    <div class="top-bar clearfix">
      <div class="pull-left">
        <div>
            <button class="BackButton"(click)="backArrow()"><img src="assets/images/arrow-black.svg"></button>
            EVENT
          </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content class="bg-gray event attendance-content">
  <section class="main">
    <!-- loading skeleton -->
    <form action="" class="user-form profile bg-black skeleton" *ngIf="!isLoaded && !isOffline">
   
        <section class="profileFirst heightAuto xs-padding">
        
          <div class="top-info mt-10">
              <h3 class="title text-center animate">&nbsp;</h3>
              <div class="divider"></div>
              <h4 class="text-center animate">&nbsp;</h4>
              <p class="venu animate">&nbsp;</p>
              <div class="time-info animate">&nbsp;</div>
          </div>
          
          <div class="radial-item mt-30">
            <div class="row">
              <div class="info-item col-xs-6 text-right">
                  <span class="progress-item animate"></span>
                </div>
                <div class="info-item col-xs-6 text-left ">
                    <span class="progress-item animate"></span>
                  </div>
            </div>            
          </div>
          <div class="btn-wrap mt-30">
              <button class="btn radius-25 btn-blue animate"></button>
          </div>
    
        </section>
        
        <div class="event-card bg-gray">
  
            <div class=" select-card well mt-10 fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
          <div class=" select-card well fadeShine">
              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span>
                    <div class="img-circle">
                        <span class="img-text"></span>
                    </div>
                  </span>
                </div>
                <div class="card-title col-xs-8 p-0"></div>
                <div class="col-xs-2 checkArrow-group"></div>
              </div>
          </div>
  
        </div>
      </form>
    <!-- loading skeleton end -->

    <!-- <form action="" class="user-form profile bg-black" *ngIf="isLoaded && !isOffline"> -->
      <form action="" class="user-form profile bg-black">
      <section class="profileFirst heightAuto xs-padding" (click)="resetColors($event)">
        <img src="assets/images/no-internet.png" style="height: 50px; width: 50px" *ngIf="isOffline">
        <div class="top-info" *ngFor="let detail of arrDetail">
            <h3 class="title text-center inverseText">ATTENDANCE</h3>
            <!-- <div class="divider"></div> -->
            <h4 class="text-center inverseText" *ngIf="detail.event_type_id==1">{{detail.hometeamname}} vs {{detail.awayteamname}}</h4>
            <h4 class="text-center inverseText trainning" *ngIf="detail.event_type_id==2">{{detail.hometeamname}}</h4>
            <h4 class="text-center inverseText" *ngIf="detail.event_type_id==2">{{detail.name}}</h4>
            <p class="venu" *ngIf="detail.ground_name">{{detail.ground_name}}</p>
            <p class="venu" *ngIf="detail.ground_address && detail.ground_state">{{detail.ground_address}},{{detail.ground_suburb}},{{detail.ground_state}}</p>
            <div class="time-info">{{detail.date_started | date: 'MMM d'}} AT {{detail.time_started}}</div>
        </div>
         
        <div class="radial-item mt-10" *ngIf="rollstatus == 'ROLL CLOSED'">
          <div class="row">
            <div class="info-item col-xs-6 text-right Going" (click)="eventState('Going',$event)">
                <span class="progress-item" style="color: #FFF;">Present</span>
                <span class="badge maybe" style=" background-color:colorGoing !important;height: 23px;color: #000000;">{{DupeventAttendLen[0]}}</span>
              </div>
              <div class="info-item col-xs-6 text-left NotGoing" (click)="eventState('Not going',$event)">
                  <span class="badge not-going" style="color:colorNotGoing !important;height: 23px;color: #ffffff">{{DupeventAttendLen[2]}}</span>
                  <span class="progress-item" style="color: #FFF;">Absent</span>
                </div>
          </div>
          
        </div>
       
        <div class="row">
          <div class="col-xs-6 p-0">
            <div class="open-roll" [ngClass]="rollstatus == 'ROLL OPEN' ? 'close-roll': rollstatus == 'ROLL CLOSED' ? 'closed-roll': ''"  (click)="changeRoll()">
              <p *ngIf="rollstatus != 'ROLL OPEN' && rollstatus != 'ROLL CLOSED'">OPEN ROLL</p>
              <p *ngIf="rollstatus == 'ROLL OPEN'">CLOSE ROLL</p>
              <p *ngIf="rollstatus == 'ROLL CLOSED'">ROLL CLOSED</p>
            </div>
          </div>
          <div class="col-xs-3 p-0">
            <div (click)="PresentStatusUpdate(1)">
              <div class="checkArrow-group or-chck">
                <div class="p-0 or-chck-in">
                  <div class="checkbox2 PresentCheckbox1">
                  </div>
                  <div class="checkbox-cst"></div>
                </div>
              </div>
              <div class="markall-p">
                <p>MARK ALL PRESENT</p>
              </div>
            </div>
            
          </div>
          <div class="col-xs-3 p-0">
            <div (click)="PresentStatusUpdate(0)" >
              <div class="checkArrow-group or-chck">
                <div class="p-0 or-chck-in">
                  <div class="checkbox2 AbsentCheckbox1">
                  </div>
                  <div class="checkbox-cst"></div>
                </div>
              </div>
              <div class="markall-p" >
                <p>MARK ALL ABSENT</p>
              </div>
            </div>
          </div>
        </div>
  
      </section>
      <div class="event-card bg-gray" *ngIf="!eventAttend && !BorrowedPlayerPresent">
        <div class="well select-card ">
          <div class="row">
            <div class="col-xs-12 ">
              <h5 class="sub-title">NO TEAM MATES Present</h5>
            </div>
          </div>
        </div>
      </div>

      <div class="event-card bg-gray" (click)="hideAttendanceList($event)" *ngIf="rollstatus == 'ROLL OPEN'">
        <div class="LastChild-check" *ngIf="eventAttend && !(combinedPlayersArray?.length > 0)">
          <div *ngFor="let StateAttendy of DupeventAttendsec;let i=index">
            <div *ngIf="i<3">
            <div class=" select-card" [class.well]="Attendy.injuryStatus!=1 && Attendy.injuryStatus!=2"
              [class.RecoveredPlayer]="Attendy.injuryStatus==2" [class.InjuredPlayer]="Attendy.injuryStatus==1" *ngFor="let Attendy of StateAttendy">

              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2" [class.no-response]="Attendy.state==3"
                    [class.maybe]="Attendy.state==4" *ngIf="!Attendy.PHOTOPATH">
                    <div class="img-circle"><span class="img-text">{{Attendy.first_name[0] | uppercase}} {{Attendy.last_name[0] | uppercase}} </span></div>
                    
                  </span>
                  <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2" [class.no-response]="Attendy.state==3"
                    [class.maybe]="Attendy.state==4" *ngIf="Attendy.PHOTOPATH">
                    <img src={{PhotoApiUrl}}{{Attendy.PHOTOPATH}} alt="" class="img-circle">
                  </span>
                </div>

                <div class="card-title col-xs-8 p-0" [class.InjuredPlayerName]="Attendy.injuryStatus==1">{{Attendy.first_name
                  | uppercase}} {{Attendy.last_name | uppercase}}
                    <div class="select-group clearfix">
                      <div class="pull-left checkArrow-group" [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'" *ngIf="FunctionAccess">
                        <div *ngIf="FunctionAccess.event_EventDetail=='yes' && FunctionAccess.user_adminLevel != 1 &&  FunctionAccess.user_adminLevel != 3 &&  FunctionAccess.user_adminLevel != 2">
                            <div class=" arrowUp ArrowLight" (click)="ArrowFunctionality($event)">
                              <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                            </div>

                          </div>
                          <div class="  " *ngIf="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'">
                            <div class="p-0 arrowUp loggedIn-Arrow ArrowLight" (click)="ArrowFunctionality($event)">
                              <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                            </div>
                          </div>
                          
                      </div>
                      
                      <div class="display-status pull-left">
                        <p class="Show_Status" [class.InjuredPlayerStatus]="Attendy.injuryStatus==1" *ngIf="Attendy.reasondeclined_by_coach==''">{{Attendy.reasondeclined}}</p>
                        <p class="Show_Status" [class.InjuredPlayerStatus]="Attendy.injuryStatus==1" *ngIf="Attendy.reasondeclined_by_coach!=''">{{Attendy.reasondeclined_by_coach}}</p>
                      </div>
                    </div>
                    <div class="suit-iconCard fixedRight" (click)="DisplaySeverityDetails(Attendy)" *ngIf="FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1 && ((Attendy.playerAilmentsSeverityIcon) || (Attendy.showMedicine==1))">
                      <img src={{global.ImagesPath}}{{Attendy.playerAilmentsSeverityIcon}} class="suit-icon" *ngIf="(Attendy.playerAilmentsSeverityIcon  && (Attendy.showMedicine==1 || Attendy.showMedicine==0))">
                      <img src="{{global.ImagesPath}}pills.svg" class="medical-bottle" *ngIf="((Attendy.showMedicine==1) && (!Attendy.playerAilmentsSeverityIcon))">
                    </div>
                </div>
                
                <div class="col-xs-2 checkArrow-group" [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail_checkbox=='self'"
                  *ngIf="FunctionAccess">
                  <div class="col-xs-2 p-0 checkbox-col" *ngIf="FunctionAccess.event_EventDetail_checkbox=='yes'">

                    <div class="checkbox1" [class.PresentCheckbox1]="Attendy.attended==1" [class.AbsentCheckbox1]="Attendy.attended==0" [class.NoneCheckbox1]="Attendy.attended==2"
                      (click)="AttendanceMark($event,Attendy.attended,Attendy.person_id,Attendy)">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>

                <ul class="dropdown-menu card-dropdown" style="display:none; ">
                  <li *ngFor="let key of reason_options_list[0]" (click)="SinglePlayersAttdStates(key.confirm_reason,'',key.reason_display,Attendy.person_id,$event)" [class.disabled]="PersonData.ADMINLEVEL==3" >
                    <a href="javascript:void(0)" [class.SelectedReason]="key.reason_display==Attendy.reasondeclined_by_coach || key.reason_display==Attendy.reasondeclined">{{key.reason_display}}</a>
                  </li>
                  <li *ngIf="Attendy.reasondeclined_by_coach !='' || Attendy.reasondeclined !=''" (click)="gotoAttendanceNote(Attendy.person_id)">
                    <a href="javascript:void(0)">Add note</a>
                  </li>
                </ul>
              </div>

              </div>

            </div>

          </div>

        </div>

        <!-- Regular player combined Start -->
        <div class="LastChild-check" *ngIf="combinedPlayersArray?.length > 0">
          <div class=" select-card" [class.well]="Attendy.injuryStatus!=1 && Attendy.injuryStatus!=2"
            [class.RecoveredPlayer]="Attendy.injuryStatus==2" [class.InjuredPlayer]="Attendy.injuryStatus==1"
            *ngFor="let Attendy of combinedPlayersArray">

            <div class="row">
              <div class="card-img col-xs-2 p-0">
                <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2"
                  [class.no-response]="Attendy.state==3" [class.maybe]="Attendy.state==4" *ngIf="!Attendy.PHOTOPATH">
                  <div class="img-circle"><span class="img-text">{{Attendy.first_name[0] | uppercase}} {{Attendy.last_name[0] | uppercase}} </span>
                  </div>
                  
                </span>
                <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2"
                  [class.no-response]="Attendy.state==3" [class.maybe]="Attendy.state==4" *ngIf="Attendy.PHOTOPATH">
                  <img src={{PhotoApiUrl}}{{Attendy.PHOTOPATH}} alt="" class="img-circle">
                </span>
              </div>

              <div class="card-title col-xs-8 p-0" [class.InjuredPlayerName]="Attendy.injuryStatus==1">
                  {{Attendy.first_name | uppercase}} {{Attendy.last_name | uppercase}}
                  <div class="select-group clearfix">
                    <div class="pull-left checkArrow-group"
                      [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess && FunctionAccess.event_EventDetail=='self'"
                      *ngIf="FunctionAccess">
                      <div *ngIf="FunctionAccess && FunctionAccess.event_EventDetail=='yes' && FunctionAccess.user_adminLevel != 1 &&  FunctionAccess.user_adminLevel != 3 &&  FunctionAccess.user_adminLevel != 2">
                        <div class=" arrowUp ArrowLight" (click)="ArrowFunctionality($event)">
                          <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                        </div>

                      </div>
                      <div class="  " *ngIf="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess && FunctionAccess.event_EventDetail=='self'">
                        <div class=" p-0 arrowUp loggedIn-Arrow ArrowLight" (click)="ArrowFunctionality($event)">
                          <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                        </div>
                      </div>
                      
                    </div>
                    <div class="display-status pull-left">
                      <p class="Show_Status" [class.InjuredPlayerStatus]="Attendy.injuryStatus==1"
                        *ngIf="Attendy.reasondeclined_by_coach==''">{{Attendy.reasondeclined}}</p>
                      <p class="Show_Status" [class.InjuredPlayerStatus]="Attendy.injuryStatus==1"
                        *ngIf="Attendy.reasondeclined_by_coach!=''">{{Attendy.reasondeclined_by_coach}}</p>
                    </div>
                  </div>
                  
                  <div class="suit-iconCard fixedRight" (click)="DisplaySeverityDetails(Attendy)" *ngIf="FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1 && ((Attendy.playerAilmentsSeverityIcon) || (Attendy.showMedicine==1))">
                    <img src={{global.ImagesPath}}{{Attendy.playerAilmentsSeverityIcon}} class="suit-icon" *ngIf="(Attendy.playerAilmentsSeverityIcon  && (Attendy.showMedicine==1 || Attendy.showMedicine==0))">
                    <img src="{{global.ImagesPath}}pills.svg" class="medical-bottle" *ngIf="((Attendy.showMedicine==1) && (!Attendy.playerAilmentsSeverityIcon))">
                  </div>
              </div>
            
              <div class="col-xs-2 checkArrow-group"
                [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail_checkbox=='self'"
                *ngIf="FunctionAccess">
                <div class="col-xs-2 p-0 checkbox-col" *ngIf="FunctionAccess.event_EventDetail_checkbox=='yes'">

                  <div class="checkbox1" [class.PresentCheckbox1]="Attendy.attended==1"
                    [class.AbsentCheckbox1]="Attendy.attended==0" [class.NoneCheckbox1]="Attendy.attended==2"
                    (click)="AttendanceMark($event,Attendy.attended,Attendy.person_id,Attendy)">
                  </div>
                  <div class="checkbox"></div>
                </div>
              </div>
              

              <ul class="dropdown-menu card-dropdown" style="display:none; ">
                <li *ngFor="let key of reason_options_list[0]"
                  (click)="SinglePlayersAttdStates(key.confirm_reason,'',key.reason_display,Attendy.person_id,$event)" [class.disabled]="PersonData.ADMINLEVEL==3">
                  <a href="javascript:void(0)"
                    [class.SelectedReason]="key.reason_display==Attendy.reasondeclined_by_coach || key.reason_display==Attendy.reasondeclined">{{key.reason_display}}</a>
                </li>
                <li *ngIf="Attendy.reasondeclined_by_coach !='' || Attendy.reasondeclined !=''" (click)="gotoAttendanceNote(Attendy.person_id)">
                  <a href="javascript:void(0)">Add note</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <!-- Regular player combined End -->

        <!--  borrowed player -->
        <div class="borrowHeading" *ngIf="BorrowTagFlag==1">
          <p>BORROWED TEAM MATES</p>
        </div>
        <div class="well select-card " *ngIf="BorrowTagFlag==1 && EmptyBorrowPlayer">
          <div class="row">
            <div class="col-xs-12 ">
              <h5 class="sub-title">NO TEAM MATES Present</h5>
            </div>
          </div>
        </div>
        <div class="borrowOuter" *ngIf="BorrowTagFlag==1 && !(combinedBorrowedPlayersArray?.length > 0)">
          
          <div *ngFor="let StateAttendy of DupEventAttendSecBorrowed;let i=index">
              
            <div *ngIf="i<3">
            <div class="select-card" [class.well]="Attendy.injuryStatus!=1 && Attendy.injuryStatus!=2"
              [class.RecoveredPlayer]="Attendy.injuryStatus==2" [class.InjuredPlayer]="Attendy.injuryStatus==1" *ngFor="let Attendy of StateAttendy">

              <div class="row">
                <div class="card-img col-xs-2 p-0">
                  <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2" [class.no-response]="Attendy.state==3"
                    [class.maybe]="Attendy.state==4" *ngIf="!Attendy.photoPath">
                    <div class="img-circle"><span class="img-text">{{Attendy.first_name[0] | uppercase}} {{Attendy.last_name[0] | uppercase}} </span></div>
                    
                  </span>
                  <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2" [class.no-response]="Attendy.state==3"
                    [class.maybe]="Attendy.state==4" *ngIf="Attendy.photoPath">
                    <img src={{PhotoApiUrl}}{{Attendy.photoPath}} alt="" class="img-circle">
                  </span>

                </div>
                <div class="card-title col-xs-8 p-0" [class.InjuredPlayerName]="">{{Attendy.first_name | uppercase}}
                  {{Attendy.last_name | uppercase}}
                  <div class="select-group clearfix">
                      <div class="checkArrow-group pull-left" [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'"
                        *ngIf="FunctionAccess">
                          
                          <div *ngIf="FunctionAccess.event_EventDetail=='yes' && FunctionAccess.user_adminLevel != 1 &&  FunctionAccess.user_adminLevel != 3 &&  FunctionAccess.user_adminLevel != 2">
                            <div class=" arrowUp ArrowLight" (click)="ArrowFunctionality($event)">
                              <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                            </div>
                          </div>
                          <div class=" " *ngIf="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'">
                            <div class="p-0 arrowUp loggedIn-Arrow ArrowLight" (click)="ArrowFunctionality($event)">
                              <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                            </div>
                          </div>
                          
                      </div>
                      <div class="display-status pull-left">
                      <p class="Show_Status" [class.InjuredPlayerStatus]="" *ngIf="Attendy.reasondeclined_by_coach==''">{{Attendy.reasondeclined}}</p>
                      <p class="Show_Status" [class.InjuredPlayerStatus]="" *ngIf="Attendy.reasondeclined_by_coach!=''">{{Attendy.reasondeclined_by_coach}}</p>
                      </div>
                    </div>
                    <div class="suit-iconCard fixedRight" (click)="DisplaySeverityDetails(Attendy)" *ngIf="FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1 && ((Attendy.playerAilmentsSeverityIcon) || (Attendy.showMedicine==1))">
                        <img src={{global.ImagesPath}}{{Attendy.playerAilmentsSeverityIcon}} class="suit-icon" *ngIf="(Attendy.playerAilmentsSeverityIcon  && (Attendy.showMedicine==1 || Attendy.showMedicine==0))">
                        <img src="{{global.ImagesPath}}pills.svg" class="medical-bottle" *ngIf="((Attendy.showMedicine==1) && (!Attendy.playerAilmentsSeverityIcon))">
                      </div>
                  </div>
               
                <div class="col-xs-2 pr-0 checkArrow-group" [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail_checkbox=='self'"
                  *ngIf="FunctionAccess">

                  <div class="col-xs-2 p-0 checkbox-col" *ngIf="FunctionAccess.event_EventDetail_checkbox=='yes'">

                    <div class="checkbox1" [class.PresentCheckbox1]="Attendy.attended==1" [class.AbsentCheckbox1]="Attendy.attended==0" [class.NoneCheckbox1]="Attendy.attended==2"
                      (click)="AttendanceMark($event,Attendy.attended,Attendy.person_id,Attendy)">
                    </div>
                    <div class="checkbox"></div>
                  </div>
                </div>

                <ul class="dropdown-menu card-dropdown" style="display: none;">
                  <li *ngFor="let key of reason_options_list[0]" (click)="SinglePlayersAttdStates(key.confirm_reason,'',key.reason_display,Attendy.person_id,$event)" [class.disabled]="PersonData.ADMINLEVEL==3">
                    <a href="javascript:void(0)" [class.SelectedReason]="key.reason_display==Attendy.reasondeclined_by_coach || key.reason_display==Attendy.reasondeclined">{{key.reason_display}}</a>
                  </li>
                  <li *ngIf="Attendy.reasondeclined_by_coach !='' || Attendy.reasondeclined !=''" (click)="gotoAttendanceNote(Attendy.person_id)">
                    <a href="javascript:void(0)">Add note</a>
                  </li>
                </ul>

              </div>

              </div>
            </div>
          </div>
        </div>



        <!-- Borrowed player combined Start -->
        <div class="combinedBorrowedPlayersArray" *ngIf="BorrowTagFlag==1 && combinedBorrowedPlayersArray?.length > 0">
          <div class="select-card" [class.well]="Attendy.injuryStatus!=1 && Attendy.injuryStatus!=2"
            [class.RecoveredPlayer]="Attendy.injuryStatus==2" [class.InjuredPlayer]="Attendy.injuryStatus==1"
            *ngFor="let Attendy of combinedBorrowedPlayersArray">

            <div class="row">
              <div class="card-img col-xs-2 p-0">
                <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2"
                  [class.no-response]="Attendy.state==3" [class.maybe]="Attendy.state==4" *ngIf="!Attendy.PHOTOPATH">
                  <div class="img-circle"><span class="img-text">{{Attendy.first_name[0] | uppercase}} {{Attendy.last_name[0] | uppercase}} </span>
                  </div>
                </span>
                <span [class.going]="Attendy.state==1" [class.not-going]="Attendy.state==2"
                  [class.no-response]="Attendy.state==3" [class.maybe]="Attendy.state==4" *ngIf="Attendy.PHOTOPATH">
                  <img src={{PhotoApiUrl}}{{Attendy.PHOTOPATH}} alt="" class="img-circle">
                </span>

              </div>
              <div class="card-title col-xs-8 p-0" [class.InjuredPlayerName]="">{{Attendy.first_name | uppercase}}
                {{Attendy.last_name | uppercase}}
                <div class="select-group clearfix">
                  <div class="checkArrow-group pull-left"
                    [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'"
                    *ngIf="FunctionAccess">
                    
                    <div *ngIf="FunctionAccess.event_EventDetail=='yes' && FunctionAccess.user_adminLevel != 1 &&  FunctionAccess.user_adminLevel != 3 &&  FunctionAccess.user_adminLevel != 2">
                      <div class=" arrowUp ArrowLight" (click)="ArrowFunctionality($event)">
                        <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                      </div>
                    </div>
                    <div class=" " *ngIf="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail=='self'">
                      <div class="p-0 arrowUp loggedIn-Arrow ArrowLight" (click)="ArrowFunctionality($event)">
                        <ion-icon name="ios-arrow-down" class=" collapsed-arrow"></ion-icon>
                      </div>
                    </div>
                    
                  </div>
                  <div class="display-status pull-left">
                    <p class="Show_Status" [class.InjuredPlayerStatus]="" *ngIf="Attendy.reasondeclined_by_coach==''">
                      {{Attendy.reasondeclined}}</p>
                    <p class="Show_Status" [class.InjuredPlayerStatus]="" *ngIf="Attendy.reasondeclined_by_coach!=''">
                      {{Attendy.reasondeclined_by_coach}}</p>
                  </div>
                </div>
                <div class="suit-iconCard fixedRight" (click)="DisplaySeverityDetails(Attendy)" *ngIf="FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1 && ((Attendy.playerAilmentsSeverityIcon) || (Attendy.showMedicine==1))">
                    <img src={{global.ImagesPath}}{{Attendy.playerAilmentsSeverityIcon}} class="suit-icon" *ngIf="(Attendy.playerAilmentsSeverityIcon  && (Attendy.showMedicine==1 || Attendy.showMedicine==0))">
                    <img src="{{global.ImagesPath}}pills.svg" class="medical-bottle" *ngIf="((Attendy.showMedicine==1) && (!Attendy.playerAilmentsSeverityIcon))">
                  </div>
              </div>
              
              <div class="col-xs-2 p-0 checkArrow-group"
                [class.OuterDiv]="PersonData?.PERSON_ID && PersonData?.PERSON_ID==Attendy.person_id && FunctionAccess.event_EventDetail_checkbox=='self'"
                *ngIf="FunctionAccess">

                <div class="col-xs-2 p-0 checkbox-col" *ngIf="FunctionAccess.event_EventDetail_checkbox=='yes'">

                  <div class="checkbox1" [class.PresentCheckbox1]="Attendy.attended==1"
                    [class.AbsentCheckbox1]="Attendy.attended==0" [class.NoneCheckbox1]="Attendy.attended==2"
                    (click)="AttendanceMark($event,Attendy.attended,Attendy.person_id,Attendy)">
                  </div>
                  <div class="checkbox"></div>
                </div>
              </div>


              <ul class="dropdown-menu card-dropdown" style="display: none;">
                <li *ngFor="let key of reason_options_list[0]"
                  (click)="SinglePlayersAttdStates(key.confirm_reason,'',key.reason_display,Attendy.person_id,$event)" [class.disabled]="PersonData.ADMINLEVEL==3">
                  <a href="javascript:void(0)"
                    [class.SelectedReason]="key.reason_display==Attendy.reasondeclined_by_coach || key.reason_display==Attendy.reasondeclined">{{key.reason_display}}</a>
                </li>
                <li *ngIf="Attendy.reasondeclined_by_coach !='' || Attendy.reasondeclined !=''" (click)="gotoAttendanceNote(Attendy.person_id)">
                  <a href="javascript:void(0)">Add note</a>
                </li>
              </ul>

            </div>

          </div>
        </div>
        <!-- Borrowed player combined End -->
      </div>
    </form>
    <!-- Offline -->
    <!-- <div class="background_blue" *ngIf="isOffline">
      <div class="off-wrap">
        <p><img src="assets/images/events-new-icon/offline-logo.svg" class=""></p>
        <h3>OFFLINE</h3>
        <p>Your network is unavalaible, please check your data or connection</p>
        <button type="button" class="btn btn-sm-black try-again" (click)="tryAgain()">TRY AGAIN</button>
      </div>  
    </div> -->
  </section>
</ion-content>


