<ion-header [scrollingHeader]='content' class="top-bar header-md">
        <ion-navbar class="main">
    <div class="top-bar clearfix">
        <div class="pull-left col-xs-6 pr-0" (click)="backArrow()">
          <div class="backArrow"> ALERTS </div>
      </div>
      </div>
      </ion-navbar>
</ion-header>
<ion-content class="bg-gray event cardBottom" > <!--(ionScrollEnd)="logScrollEnd()"-->
  <section class="main">
    <section class="profileFirst heightAuto xs-padding">
      <div class="event-card select-events bg-gray cardBottom" *ngIf="monthArray.length<1 ">
          <div class="well select-card " >
              <div class="row">
                  <div class="col-xs-12 ">
                      <h5 class="sub-title">No Event Present</h5>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div *ngFor="let key2 of monthArray"> -->
        <div class="ExtraMonth" *ngFor="let key of monthArray;let y=index">

            <div class="event-card select-events bg-gray"  *ngIf="y <=CardViewSeeMore">
                <div *ngIf="y <=CardViewSeeMore">
                    <div class="event-black" >
                        <h5 class="v-center">{{key[key.length-2]}}</h5>
                    </div>
    
                    <div  *ngFor="let key1 of key; let i=index;" (click)="gotoConfirmAttendance(key1)">
    
                            <div class="well select-card "  [class.active]="i==0" *ngIf="i<key.length-2">
                                <div class="row">
                                    <div class="event-date col-xs-3 p-0">
                                        <div class="badge badge-blue">{{key1.weekday}} {{key1.day}}</div>
                                        <p>{{key1.time_started}}</p>
                                    </div>
                                    <div class="event-title col-xs-8 p-0">
                                        <h5>{{key1.event_name}}</h5>
                                        <p>{{key1.ground_name}}</p>
                                        <p>{{key1.attendInfo.first_name}} - {{key1.attendInfo.reasondeclined}}</p>
                                        <p class="status-info" [class.pending]="key1.attendInfo.status=='Pending' || !key1.attendInfo.status" [class.approved]="key1.attendInfo.status=='Approved'" [class.rejected]="key1.attendInfo.status=='Rejected'">
                                            <span>{{key1.attendInfo.status?key1.attendInfo.status:'Pending'}}</span> 
                                        </p>
                                    </div>
                                    <div class="event-next col-xs-1 p-0">
                                        <a href="javascript:void(0)" class="next-arrow v-center"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                
            </div>
            <div class="event-card select-events bg-gray multi-shadow" >
                <div *ngIf="y <=CardViewSeeMore && key[key.length-1]!=''">
                    <div class="event-black" >
                        <h5 class="v-center">{{key[key.length-1]}}</h5>
                    </div>
                </div>
            </div>
    
            <div class="section-more mb-50 clearfix" *ngIf="y <=CardViewSeeMore && key[key.length-1]!=''" (click)="CardSeeMore($event)">
                <a href="javascript:void(0)" class="see-more pull-right">SEE MORE</a>
            </div>
            <div class="section-more clearfix mt-20" *ngIf="y <=CardViewSeeMore" (click)="CardSeeLess(y)" style="display:none">
                <a href="javascript:void(0)"  class="see-more pull-right">SEE LESS</a>
            </div>
            
        </div>
      <!-- </div> -->
      
    </section>
  </section>
</ion-content>