page-timesheet-dashboard {
    .back-button{
        display: none !important;
    }

    .event-card{
        margin-bottom:0 !important; 
        padding-bottom:0;
    }
    
    .pL-10{
        padding-left: 10px;

    }
    .bg-gray .select-events .select-card {
        border-radius: 0;
        border-bottom: 1px solid #e3e3e3!important;
    }
    .time-center{
        padding-left: 10px;
    }

    .ExtraMonth.monthArray:last-child .see-more.pull-right{
        margin-bottom: 35px;
    }
    .btn-section.adhoc{
        width: 85%;
        margin: 0 auto;
        .btn{
            background-color: #43B7CC;
            border-color: #43B7CC;
            color: #fff;
            border-radius: 30px!important;
            font-weight: bold;
            font-family: "Helvetica", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            ion-icon{
                margin-right: 5px;
                font-size: 16px;
                vertical-align: middle;
                font-weight: bold;
            }
        }
    }

    .col-xs-7{
       width: 57.33%; 
    }
    
    .col-xs-8{
        width: 65.67%;
    }
}
