page-track-member {
      .modalView {
        margin-right: 2%;
        margin-left: 2%;
        margin-top: 25%;
        margin-bottom: 10%;
        border-radius: 15px;
    }
    .membar-card .card-img span {
        display: block;
        width: 46px;
        height: 46px;
        background: #eee;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 5px auto;
        position: relative;
        overflow:hidden;
    }
    .membar-card .card-img {
        margin: 0 6px;
    }
    .infoText {
        height: 40px;
        width: auto;
        margin-bottom: 5px;

        h5 {
            color: #43B7CC;
            font-size: 14px;
        }
    }
    .modal-header .modal-title {
        color: #000000;
    }
    ion-content.bg-black{
        background: rgba(21, 35, 60, 0.6);
    }
    .img-circle .img-text{
        line-height:14px;
    }
    
}
