page-event-home {
    .profile{
        padding-top: 20%!important;
    }
    .navbar-fixed-top{
        margin-top: 10px;
        margin-right: 10px;

    }
    .header {
        background: transparent;
    }
    .next{
        padding-left: 10px;
    }
    .trophy{
        padding-top: 2px;
        width: 25px;
    }
    .player_menu{
        display: none
    }
    

}
