page-additional-passenger {
    .sub-text-color {
        color: #a9a9a9d4;
    }
    .profileFirst .event-card.padding-5 {
        padding: 5px!important;
    }
    .setting-first{
        padding-top: 15%!important;
        height: 639px;
    }
    .Padding-b-20{
        padding-bottom: 20px; 
    }
    .navbar .top-bar{
        padding: 5px 10px!important;
    }
    .material-icons{
        font-size: 20px!important;
    }
    .search-player input.text-input{
        font-size: 14px!important;
        margin-top: 14px!important;
    }
    .btn-save{
        background-color: transparent;
    }
   .event-card .mb-0 {
       margin-bottom: 0!important;
   }
   .btn-section{
       margin-bottom: 20px;
   }
}
