page-rated-perceived {
    .modalView{
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 25%;
        margin-bottom: 20%;
        border-radius: 15px;
    }
    .close_{
        color: #fff !important;
        font-weight: 100 !important;
        float: right;
        .close_-button{
            padding: 5px
        }
    }
    .fixed-top_{
        position: absolute;
        right: 5%;

    }
    

}
