page-medicine-info {
    .BackButton{
        background: #fff;
    }
    .MedicineCard{
        color: white;
        font-size:1.6rem;
    }
    .defaultCheckbox1{
      background-color: map-get($colors , DarkBlueDot);
      position: absolute !important;
      top: 3px;
      left: 4px;
      z-index: 2;
      width: 23px !important;
      height: 23px !important;
      border-radius: 20px !important;
    }
    .ActiveCheckbox1{
      background-color: map-get($colors , primary) !important;
      
    }
    // .PresentCheckbox1{
    //     background-color: map-get($colors , colorMayBe) !important;
    //     position: absolute !important;
    //     top: 3px;
    //     left: 4px;
    //     z-index: 2;
    // }
    // .AbsentCheckbox1{
    //     background-color: map-get($colors , DarkBlueDot) !important;
    //     position: absolute !important;
    //     top: 3px;
    //     left: 4px;
    //     z-index: 2;
    // }
    .checkbox{
        width: 30px !important;
        height: 30px !important;
        background-color: #fff !important;
        border: 2px solid #DEDBDB !important;
        border-radius: 20px !important;
        margin: 0 auto !important;
    
      }
      .checkbox1{
        width: 23px !important;
        height: 23px !important;
        background-color: white;
        border-radius: 20px !important;
    
      }
      .checkArrow-group.OuterDiv{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end ;
      }
      .col-xs-8 {
        padding-top: 10px;
      }

}
