page-player-medical-records {
  .player-med-title{
    height: 200px;
    width: 100%;
    border: none;
    pointer-events: none;
    line-height: 1.5;
  }
  .player-med-title.contentEditable{
    overflow-y: scroll;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    pointer-events: auto;
  }
  .player-med-save{
    width: 86px !important;
    margin-top: 0 !important;
  }
  ion-header.header.bg-black {
    background: #15233C;
  }
  .borrow .select-card.player-medical2 {
    height: 220px!important;
  }
  .player-med-title {
    height: 160px !important;
  }
  .medsCard{
    color: white;
    font-size:1.8rem;
  }
  .MedicineCard{
    color: white;
    font-size:1.6rem;
  }
// .defaultCheckbox1{
//   background-color: map-get($colors , DarkBlueDot);
//   position: absolute !important;
//   top: 3px;
//   left: 4px;
//   z-index: 2;
//   width: 23px !important;
//   height: 23px !important;
//   border-radius: 20px !important;
// }
.PresentCheckbox1{
  background-color:  #68E048 !important;
  position: absolute !important;
  top: 3.2px;
  left: 3.9px;
  z-index: 2;
  width: 23px !important;
  height: 23px !important;
  border-radius: 20px !important;
}
.AbsentCheckbox1{
  background-color: #ff4a4a !important;
  position: absolute !important;
  top: 3.1px;
  left: 3.9px;
  z-index: 2;
  width: 23px !important;
  height: 23px !important;
  border-radius: 20px !important;
}
.ActiveCheckbox1{
  background-color: map-get($colors , primary) !important;
  
}
.checkbox{
    width: 30px !important;
    height: 30px !important;
    background-color: #fff !important;
    border: 2px solid #DEDBDB !important;
    border-radius: 20px !important;
    margin: 0 auto !important;

  }
  .checkbox1{
    width: 23px !important;
    height: 23px !important;
    background-color: white;
    border-radius: 20px !important;

  }
  .checkArrow-group.OuterDiv{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end ;
  }
  .col-xs-8 {
    padding-top: 10px;
  }
  .mb-50{
    margin-bottom: 50px !important;
  }
  .bg-info{
    padding-left: 0px;
  }
  .img-circle .img-text{
    width:76px;
    height: 76px;
    line-height: 56px !important;
    font-size: 20px;
  }

  .blue-font{
    color: #15233b !important;
  }
  .med-prof-item{
    height: 60px;
  }

  .contactCard{
    border: solid 1px #ffffff;
    margin: 12px 10px 0px 10px;
    background-color: #ffffff;
    display: grid;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    .MedicineCard{
      font-size: 1.4rem !important;
      padding: 2px  !important;
    }

  }
}
