<ion-content class="bg-black borrowPlayer">
    <section class="main mt-20" style="margin-top: 10%;">
        <div class="top-bar">
            <div class="col-xs-3" (click)="backArrow()">
                <div class="backArrow inverse"></div>
            </div>
        </div>
        <form action="" class="user-form" style="padding-top: 10%;">
            <h5 class="sm-title text-left col-xs-12 mt-20" style="color: white;">BORROWED TEAM MATES</h5>
            <section class="profileFirst heightAuto">
                <div class="event-card borrow" style="padding-top: 10%;">
                    <div class="well select-card " *ngIf="BorrowedPlayerPresent=='No Team Mates'">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <h5 class="sub-title">NO BORROWED TEAM MATES</h5>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="BorrowedPlayerPresent!='No Team Mates'">
                        <div class="well select-card " *ngFor="let key of BorrowedPlayerPresent">
                            <div class="row">
                                <div class="card-img col-xs-2 p-0">
                                    <span class="" *ngIf="key.photoPath==''">
                                        <div class="img-circle">
                                            <span class="img-text">{{key.first_name[0] | uppercase}} {{key.last_name[0] | uppercase}}
                                            </span>
                                        </div>
                                        <!-- <img src="assets/images/test-user.svg" alt="" class="img-circle"> -->
                                    </span>
                                    <span class="" *ngIf="key.photoPath!=''"><img src="{{PhotoApiUrl}}{{key.photoPath}}" alt="" class="img-circle"></span>
                                </div>
                                <div class="card-title col-xs-9 p-0">{{key.first_name | uppercase}} {{key.last_name | uppercase}}
                                    <div>
                                        <span *ngIf="key.uniform_id">#{{key.uniform_id}}</span>
                                    </div>
                                    <div class="suit-iconCard fixedRight" (click)="DisplaySeverityDetails(key)" *ngIf="FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1 && ((key.playerAilmentsSeverityIcon) || (key.showMedicine==1))">
                                        <img src={{global.ImagesPath}}{{key.playerAilmentsSeverityIcon}} class="suit-icon" *ngIf="(key.playerAilmentsSeverityIcon  && (key.showMedicine==1 || key.showMedicine==0))">
                                        <img src="{{global.ImagesPath}}pills.svg" class="medical-bottle" *ngIf="((key.showMedicine==1) && (!key.playerAilmentsSeverityIcon))">
                                    </div>
                                </div>
                                <!-- <div class="col-xs-3 p-0">
                                    <div class="suit-iconCard" (click)="DisplaySeverityDetails(key.playerAilments)" *ngIf="key.playerAilmentsSeverityIcon && FunctionAccess && FunctionAccess.medicalKit=='yes'">
                                        <img src={{global.ImagesPath}}{{key.playerAilmentsSeverityIcon}}  class="suit-icon">
                                    </div> -->
                                    
                                    <!-- <div class="medical-bottleCard" (click)="gFn.MedicineInformation(key)" *ngIf="key.showMedicine==1 && FunctionAccess && FunctionAccess.HasMedicineReviewAccess==1">
                                        <img src="{{global.ImagesPath}}medicine_bottle.png" class="medical-bottle">
                                    </div>
                                </div>  -->
                                <div class=" col-xs-1 p-0"  (click)="DeleteborrowPlayer(key.rid)">
                                    <ion-icon class="card-Close" name="close"></ion-icon>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>

                    <div class="circle-plus addIconCircle"  (click)="teamList()">
                            <ion-icon ios="ios-add" md="md-add" class="addIcon"></ion-icon>
                    </div>
                    
                </div>
            </section>
        </form>
</section>

</ion-content>

